.orderform{
    margin-top: 30px;
}
#productinfo {
	border-collapse: collapse; 
	border-top : 3px double black;
}

#productinfo tr:first-of-type{
	border-bottom : 1px solid black;
}



#productinfo  th, td {
	height :60px;
	padding-top: 5px;
    
}

#productinfo  tr  td:first-of-type{
	width : 40px;
	vertical-align : top;
	text-align :center;
	padding-right:5px;
	
}
#productinfo  tr  td:nth-of-type(2){
	width : 250px;
	overflow : hidden;
	font-size: 15px;
	white-space: nowrap;
	text-overflow: ellipsis; 
	display: block;
	
}
#productinfo  tr  td:nth-of-type(3){
	width : 160px;
	vertical-align : top;
	text-align :center;
	
}
#productinfo  tr  td:nth-of-type(4){
	width : 0px;
	vertical-align : top;
	text-align :center;
}
#productinfo  tr  th:first-of-type{
	width : 55px;
}
#productinfo  tr  th:nth-of-type(2){
	width : 250px;
}
#productinfo  tr  th:nth-of-type(3){
	width : 160px;
}
#productinfo  tr  th:nth-of-type(4){
	width : 0px;
}


#cartinfo {
	border-collapse: collapse; 
	border-top : 3px double black;
}

#cartinfo tr:first-of-type{
	border-bottom : 1px solid black;
}

#cartinfo tr th:last-of-type{
		width:50px;
		
}


#cartinfo th{
	height :60px;
	padding:5px 0px;
    
}
#cartinfo td {
	height :65px;
	padding:5px;
    
}


#cartinfo  tr  td:first-of-type{
	width : 0px;
	vertical-align : top;
	text-align :center;
	padding-top: 5px;
	
}
#cartinfo  tr  td:nth-of-type(2){
	width : 40px;
	vertical-align : top;
	text-align :center;
	padding-top: 5px 0px;
	
	
}
#cartinfo  tr  td:nth-of-type(3){
	width : 150px;
	vertical-align : top;
	text-align :center;
	padding-top: 5px;
	
}
#cartinfo  tr  td:nth-of-type(4){
	width : 120px;
	vertical-align : top;
	text-align :center;
	padding-top: 5px;
	
}

#cartinfo  tr  td:nth-of-type(5){
	vertical-align : top;
	padding-top: 5px;
}
#cartinfo  tr  th:first-of-type{
	width : 50px;
}
#cartinfo  tr  th:nth-of-type(2){
	width : 160px;
}
#cartinfo  tr  th:nth-of-type(3){
	width : 130px;
}

#cartinfo  tr  th:nth-of-type(4){
	width : 50px;
}

#cartinfo  tr  td:nth-of-type(5) button{
	border: 1px solid rgb(140, 130, 228);
	background-color:rgba(0,0,0,0);
	color: rgb(140, 130, 228);
	padding :  5px;
	border-radius: 5px;
}
#cartinfo  tr  td:nth-of-type(5) button:hover{
	background-color:rgb(140, 130, 228);
	color: white;
	padding :  5px;
	border-radius: 5px;
	cursor : pointer;
}

#totalspan {
	margin-top:10px;
	width:800px;
	border-radius:5px;
	padding:8px;
	width:100%;
	background-color: rgba(218, 200, 200, 0.385);
}
#totalspan input{
	border:none;
	background-color: rgba(0,0, 0, 0);
	heigt:25px;
	font-size:15px;
}




#userinfo {
	border-collapse: collapse; 
	border-top : 3px double black;

}

#userinfo  th {
    width:80px;
    text-align : right;
}


#userinfo td {
	text-indent: 5px;
	width:730px;
	padding:0px;
}
#addressuinfo{
	border-collapse: collapse; 
	border-top : 3px double black;
    
}
#addressuinfo th {
	width:100px;
    text-align : right;
    padding-right:10px;
   
}


#addressuinfo td {
    text-indent: 5px;
    width: 700px;
   
}

#addressuinfo tr:nth-of-type(1) td input{
	width:15px;
}
#addressuinfo tr:nth-of-type(2) td input{
	width:70px;
	height:35px;
	font-size:15px;
}
#addressuinfo  tr:nth-of-type(2) td button{
	border: 1px solid rgb(140, 130, 228);
	background-color:rgba(0,0,0,0);
	color:rgb(140, 130, 228);
	padding :  5px;
	border-radius: 5px;
	font-size:15px;
}
#addressuinfo  tr:nth-of-type(2) td button:hover{
	background-color:rgb(140, 130, 228);
	color: white;
	padding :  5px;
	border-radius: 5px;
	cursor : pointer;
	font-size:15px;
}
#addressuinfo tr:nth-of-type(3) td input{
	width:250px;
	height:35px;
	font-size:15px;
}
#addressuinfo tr:nth-of-type(4) td input{
	width:250px;
	height:35px;
	font-size:15px;
}


   
#payinfo{
    border-collapse: collapse; 
	border-top : 3px double black;
}

#payinfo  th {
	width:100px;
    text-align : right;
    padding-right:10px;
    
}

#payinfo  td {
	text-indent: 5px;
    width: 700px;
   
}

#payinfo tr:nth-of-type(1) td input{
	width:250px;
	height:30px;
	border: none;
}
#payinfo tr:nth-of-type(2) td input{
	width:100px;
	height:30px;
}
#payinfo tr:nth-of-type(3) td input:nth-of-type(1){
	width:150px;
	height:30px;
}
#payinfo tr:nth-of-type(3) td input:nth-of-type(2){
	width:100px;
	height:30px;
}
#payinfo tr:nth-of-type(4) td input{
	width:100px;
	height:30px;
}
#payinfo tr:nth-of-type(5) td input{
	width:100px;
	height:30px;
}
#payinfo tr:nth-of-type(4) td{
	font-size: 7px;
}

#couponmodal{
	border: 1px solid rgb(140, 130, 228);
	background-color:rgba(0,0,0,0);
	color: rgb(140, 130, 228);
	padding :  5px;
	border-radius: 5px;
	font-size:15px;
}
#couponmodal:hover{
	background-color:rgb(140, 130, 228);
	color: white;
	padding :  5px;
	border-radius: 5px;
	cursor : pointer;
	font-size:15px;
}


 input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
    
#submitAll{
	margin:30px 350px;
}
#submitAll input{
	border: 1px solid brown;
	background-color:rgba(0,0,0,0);
	color: brown;
	padding :  5px;
	border-radius: 5px;
	font-size:15px;
}
#submitAll input:hover{
	background-color:brown;
	color: white;
	padding :  5px;
	border-radius: 5px;
	cursor : pointer;
	font-size:15px;
}


.modal{
        display: none;
        
        width: 100%; height: 100%;
        
        top: 0; left: 0;
        position: fixed;
        z-index: 1;
        background-color: rgba(12, 12, 12, .3);
    }
    .modal-content{
        width: 450px; height: 300px;
        top: 50px;
        margin: auto;
        position: relative;
        padding: 10px;

    }
    #modal-coupon{
        background-color: white;
        box-shadow: 10px 10px 5px grey;
        border: 1px solid grey;
        overflow:scroll;
    }
    
    #modal-coupon button{
	border: 1px solid rgb(140, 130, 228);
	background-color:rgba(0,0,0,0);
	color: rgb(140, 130, 228);
	padding :  5px;
	border-radius: 5px;
	font-size:15px;
}
#modal-coupon button:hover{
	background-color:rgb(140, 130, 228);
	color: white;
	padding :  5px;
	border-radius: 5px;
	cursor : pointer;
	font-size:15px;
}
#modal-coupon table td {
	height:40px;
	padding :0px 5px;
}
#modal-coupon table, th,td {
	border-collapse: collapse;
}
#modal-coupon table th{
	border-bottom : 1px solid black;
}
#modal-coupon td{
	text-align: right;
}
   
